#container{
  width: 1024px;
  margin: 0 auto; 
  background:-moz-radial-gradient(50% 75%,circle,#ffffff,#e6e6e6);
      

  
}
#top {
  width:100%;
  min-height: 100px;
  margin: 0px 0px 1px 0px;
  border: 0;
   -webkit-border-radius :7px;
  -moz-border-radius : 7px;
  display: block;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  position: relative;
 
}

#bottom {
  position: relative;
  padding: 1px;
  min-height: 30px;
  margin: 0px 0px 5px 0px;
  -webkit-border-radius :7px;
  -moz-border-radius : 7px;
  
}

#left {
  float: left;
  background-color: transparent;
  padding: 2px;
  width: 154px;  
  -webkit-border-radius :7px;
  -moz-border-radius : 7px;
  border-radius : 7px;
}

#right {
  float: right;
  background-color: transparent;
  padding: 2px;
  width: 154px;  
  -webkit-border-radius :7px;
  -moz-border-radius : 7px;
  border-radius : 7px;
}
#content{border-style: inset;background-color:#DFDFDF;background:-moz-radial-gradient(50% 75%,circle,#ffffff,#DFDFDF);
         min-height:460px; margin: 0 auto;padding: 20px;padding-left: 100px;  
         ;color: brown;  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/

}
.center_content {background:-moz-radial-gradient(50% 75%,circle,#ffffff,#e6e6e6);position: relative; 
                padding: 0px;  margin: 0 auto;color: brown;}
.left_content { padding: 5px;  margin-left: 60px;  min-height: inherit;}
.right_content { padding: 5px;  margin: 0px 160px 0px 160px;border:1px;border-style: inset}

#top a:link, #top a:visited { font-weight : bold;  text-decoration: none;    }

#top a:link:hover, #top a:visited:hover  {  color: black;  font-weight : bold;  text-decoration : none;}
.schname{  font-size: 40pt;   font-family:Utsaah;  font-weight: bold;  color:#045491}
.zerobgbr{  border: 0;  background: none;  margin-left: 2px;}
.adminMenu{  margin: 0;  padding: 0;}
.adminMenu a{  border:1px solid #c2dfef;  margin-bottom: 1px;  padding: 3px;          display: block;  background-color: greenyellow;
  background: radial-gradient(circle at 50% 75% , rgb(255, 255, 255), rgb(230, 230, 230)) repeat scroll 0% 0% transparent;}

.adminMenu a:hover{
  background-color: #c2dfef;
  font-weight: bold;
  text-decoration: none;
  background-color:#cceeff;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cceeff));
  background:-webkit-linear-gradient(#ffffff,#cceeff);
  background:-moz-linear-gradient(#ffffff,#cceeff);
  background:-ms-linear-gradient(#ffffff,#cceeff);
  background:-o-linear-gradient(#ffffff,#cceeff);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff');
  background:linear-gradient(#ffffff,#cceeff);
  outline:0;
  border:1px solid #4dc4ff;
  color:#333399;
  text-shadow:0 -1px 2px rgba(255,255,255,0.5);
  font-weight:bold;
}
.grbg{
  border:1px solid #c2dfef; 
  padding: 3px;
  margin-right: 2px;
  background: radial-gradient(circle at 50% 75% , rgb(255, 255, 255), rgb(230, 230, 230)) repeat scroll 0% 0% transparent;
}

.loglink{
  border:1px solid #c2dfef; 
  padding: 3px;
  margin-right: 2px;
  background: radial-gradient(circle at 50% 75% , rgb(255, 255, 255), rgb(230, 230, 230)) repeat scroll 0% 0% transparent;
}
.loglink:hover{
  padding-left: 3px;
  padding-right: 3px; 
  background-color:#cceeff;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cceeff));
  background:-webkit-linear-gradient(#ffffff,#cceeff);
  background:-moz-linear-gradient(#ffffff,#cceeff);
  background:-ms-linear-gradient(#ffffff,#cceeff);
  background:-o-linear-gradient(#ffffff,#cceeff);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff');
  background:linear-gradient(#ffffff,#cceeff);
  outline:0;
  border:1px solid #4dc4ff;
  color:#333399;
  text-shadow:0 -1px 2px rgba(255,255,255,0.5);
  font-weight:bold;
}
.menubar{}
.firstcolumn{
  text-align: right;
  color: #003300;
  width: 200px;
}
.centercolumn{
  width: 200px;
}
.thirdcolumn{
  width: 200px;
}
.pgheader{
  font-size: 12pt;
  border:1px solid #c2dfef; 
  padding: 3px;
  margin-right: 2px;  
  background: radial-gradient(circle at 50% 75% , rgb(255, 255, 255), rgb(230, 230, 230)) repeat scroll 0% 0% transparent;

}
.pfcol{
  text-align: right;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 12pt;
  color: #003300;
  width: 150px;
}
.pscol{
  text-align: left; 
  font-family: sans-serif;
  font-size: 12pt;  
  width: 150px;
}
.pfrow{
  background-color: #ccff99; 
  border:1px solid #c2dfef;
}
.psrow{
  background-color: #ffccff;
  border:1px solid #c2dfef;
}
.menu {
  list-style:none;
  margin:0;
  padding:0;  
  background-color: green;
  
}			
.menu li {
  position:relative;
  float:left;
  margin-left:1px;
  width:146px;
  text-align: center;
  font-size: 10pt;
  background-color: green;

}
.menu a {
  border:1px solid #c2dfef; 
  padding:5px 5px;
  font-family: Verdana;  
  color: #003300;
  background: radial-gradient(circle at 50% 75% , rgb(255, 255, 255), rgb(230, 230, 230)) repeat scroll 0% 0% transparent;
  text-decoration:none;
  display:block;
}
.menu a:hover{
  font-family: Verdana;  
  background-color: #c2dfef;
  text-decoration: none;
  background-color:#cceeff;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cceeff));
  background:-webkit-linear-gradient(#ffffff,#cceeff);
  background:-moz-linear-gradient(#ffffff,#cceeff);
  background:-ms-linear-gradient(#ffffff,#cceeff);
  background:-o-linear-gradient(#ffffff,#cceeff);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff');
  background:linear-gradient(#ffffff,#cceeff);
  outline:0;
  border:1px solid #4dc4ff;
  color:#333399;
  text-shadow:0 -1px 2px rgba(255,255,255,0.5);
  font-weight:bold;
}

.markscolone{
  text-align: right;
  color: #003300;
  width: 110px;
}
.markscoltwo{
  width: 100px;
}
.markscolthree{
  width: 120px;
  font-size: 8pt;
}
.buttonbg{
  padding-left: 3px;
  padding-right: 3px; 
  background-color:#cceeff;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cceeff));
  background:-webkit-linear-gradient(#ffffff,#cceeff);
  background:-moz-linear-gradient(#ffffff,#cceeff);
  background:-ms-linear-gradient(#ffffff,#cceeff);
  background:-o-linear-gradient(#ffffff,#cceeff);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff');
  background:linear-gradient(#ffffff,#cceeff);
  outline:0;
  border:1px solid #4dc4ff;
  color:#333399;
  text-shadow:0 -1px 2px rgba(255,255,255,0.5);
  font-weight:bold;
}
#user_options {
  padding: 0px;
  margin: 0px;
  height: 400px;
}

.button-box {
  position: relative;
  overflow: hidden;  
  width: 175px;
  margin-left: 26px;
}
.button-box.left-button {
  margin-left: 0px !important;
}
.option_buttons {
  display: block;  
  height: 175px;
  width: 175px;
  margin-top: 20px;
  outline: medium none;
  text-align: center;
  text-decoration :none;
}
.option_buttons:hover{
  background-color:#cceeff;
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#cceeff));
  background:-webkit-linear-gradient(#ffffff,#cceeff);
  background:-moz-linear-gradient(#ffffff,#cceeff);
  background:-ms-linear-gradient(#ffffff,#cceeff);
  background:-o-linear-gradient(#ffffff,#cceeff);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cceeff');
  background:linear-gradient(#ffffff,#cceeff);
  outline:0;
  border:1px solid #4dc4ff;
  color:#333399;
  text-shadow:0 -1px 2px rgba(255,255,255,0.5);
  font-weight:bold;
}
.button-label {
  height: 15px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 135px;
  width: 190px;
  color: rgb(64, 64, 64);
  font-size: 17px;
}
.button-label p {
  text-align: center;
  margin-left: -1px;
  text-decoration: none;
  width: 173px;
}


.feat_prod_box{padding:10px 0 10px 10px;margin:0 20px 20px 0;border-bottom:1px #b2b2b2 dashed;clear:both;background-color: white}
.feat_prod_box_details{padding:10px 0 10px 0;margin:0 20px 10px 0;clear:both;}
.prod_img{float:left;padding:0 5px 0 0;text-align:center;}
.prod_img .img_items img{width: 109px;height: 140px}
.prod_det_box{width:295px;float:left;padding:0 0 0 25px;position:relative;}
.box_top{width:295px;height:9px;background:url(images/box_top.gif) no-repeat center bottom;}
.box_center{width:295px;height:auto;background:url(images/box_center.gif) repeat-y center;}
.box_bottom{width:295px;height:9px;background:url(images/box_bottom.gif) no-repeat center top;}

.new_prod_box{float:left;text-align:center;padding:10px;}
.new_prod_box a{padding:5px 0 5px 0;color:#b5b5b6;text-decoration:none;display:block;}
.new_prod_bg{width:132px;height:119px;text-align:center;background:url(images/new_prod_box.gif) no-repeat center;position:relative;}
.new_icon{position:absolute;top:0px;right:0px;z-index:200;}
.special_icon{position:absolute;top:0px;_top:6px;right:2px;z-index:250;}
img.thumb{padding:10px 0 0 0;}
.new_products{clear:both;padding:0px;}

ul.list{clear:both;padding:10px 0 0 20px;margin:0px;}
ul.list li{list-style:none;padding:2px 0 2px 0;}
ul.list li a{list-style:none;text-decoration:none;color:#000000;background:url(images/left_menu_bullet.gif) no-repeat left;padding:0 0 0 17px;}
ul.list li a:hover{text-decoration:underline;}


.contact_form{width:600px;float:left;padding:25px;margin:20px 0 0 15px;_margin:20px 0 0 5px;border:1px #DFD1D2 dashed;position:relative;background-color: white}
.form_row{width:500px;_width:355px;clear:both;padding:10px 0 10px 0;_padding:5px 0 5px 0;color:#a53d17;}
label.contact{width:75px;float:left;font-size:12px;text-align:right;padding:4px 5px 0 0;color: #333333;}
input.contact_input{width:253px;height:18px;background-color:#fff;color:#999999;border:1px #DFDFDF solid;float:left;}
textarea.contact_textarea{width:253px;height:120px;font-family:Arial, Helvetica, sans-serif;font-size:12px;color: #999999;background-color:#fff;border:1px #DFDFDF solid;float:left;}
input.register{width:71px;height:25px;border:none;cursor:pointer;text-align:center;float:right;color:#FFFFFF;}
a.contact{width:53px;height:24px;display:block;float:right;margin:0 0 0 10px;text-decoration:none;text-align:center;line-height:24px;color:#fff;}
a.checkout{width:71px;height:25px;display:block;float:right;margin:10px 30px 0 10px;text-decoration:none;text-align:center;line-height:25px;color:#fff;}
a.continue{width:71px;height:25px;display:block;float:left;margin:10px 0 0 0px;text-decoration:none;text-align:center;line-height:25px;color:#fff;}
.terms{padding:0 0 0 80px;}
.form_subtitle{position:absolute;top:-11px;left:7px;width:auto;height:20px;background-color:#2E7D8A;text-align:center;padding:0 7px 0 7px;color:#FFFFFF;font-size:11px;line-height:20px;}
p.details{padding:5px 15px 5px 15px;font-size:11px;color: blue}